@{
    ViewData["Title"] = "Home Page";
}

<a type="button" id="fire" class="btn btn-success">Success</a>

@section Scripts
{
    <script>
        $("#fire").on('click', function (e) {
            console.log('hi');
        });
    </script>
}